<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SleepSchedulerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <SleepSchedulerApp.Properties.Settings>
            <setting name="StartTime" serializeAs="String">
                <value>01/01/2000 22:00:00</value>
            </setting>
            <setting name="EndTime" serializeAs="String">
                <value>01/01/2000 06:00:00</value>
            </setting>
            <setting name="RunOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RestrictionPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSettingsChangeTime" serializeAs="String">
                <value />
            </setting>
        </SleepSchedulerApp.Properties.Settings>
    </userSettings>
</configuration>